/*Обнуление*/
*{padding: 0;margin: 0;/*border: 0;*/}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
//====================================================
//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1170;//*изменить в соответствии с макетом!*/
$md1: 1200;
$md2: 992;
$md3: 780;
$md4: 768;
$md5: 575;
$md6: 479;
$md7: 425;
$md8: 375;
//====================================================
//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
/*font-family: 'Homemade Apple', cursive;*/
@import url('../fonts/Gilroy-Regular/stylesheet.css');
/*font-family: 'Gilroy';*/
@import url('../fonts/Gilroy-Medium/stylesheet.css');
/*font-family: 'Gilroy Medium';*/
@import url('../fonts/Gilroy-Bold/stylesheet.css');
/*font-family: 'Gilroy Bold';*/
//====================================================
//<МИКСИНЫ>
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($fz) {-webkit-order: $fz;-moz-order: $fz;order: $fz;}
//@mixin boxshadow() {box-shadow:;}
//====================================================
//<ОСНОВНАЯ СЕТКА>
body {
	font-family: 'Gilroy Medium';
	font-size: 18px;
	background-color: #fff;
	color: #000000;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	max-width: $maxw+px;
	width: 100%;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 950px;
	}
	@media (max-width: $md2+px) {
		//max-width: 900px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0px 30px;
	}
	@media (max-width: $md7+px) {
		max-width: none;
		padding: 0px 20px;
	}
}

/*===HEADER===*/
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FAFAFA;
	//z-index: 50;
}
.header-body {
	height: 116px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 34px 0 80px;
}
.header__logo {
	overflow: hidden;
	//z-index: 3;
}
.logo {
	font-family: 'Homemade Apple', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	color: #231F20;
}
.header__burger {
	display: none;
}
.header__menu {}
.header__list {
	display: flex;
	//position: relative;
	//z-index: 2;
	li {
		margin-left: 31px;
	}
}
.header__link {
	color: #000000;
	line-height: 22px;
	&:hover {
		color: #F7941E;
	}
}
.header-button {}
.header__btn {
	width: 150px;
	height: 43.5px;
	padding: 10px 0;
}
.btn {
	display: block;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	
	&--y {
		background-color: #F7941E;
		color: #FFFFFF;
		&:hover,
		&:active {
			background-color: transparent;
			color: #F7941E;
			border: 1px solid #F7941E;
		} 
	}

	&--transparent {
		color: #F7941E;
		border: 1px solid #F7941E;
		&:hover,
		&:active {
			background-color: #F7941E;
			color: #FFFFFF;
		}
	}
}
@media (max-width: $md2+px) {
	.header-body {
		height: 70px;
		padding: 0 30px;
	}
}

/*===MOBILE MENU===*/
@media (max-width: $md3+px) {
	body.lock {
		overflow: hidden;
	}
	.header__logo {
		@include flexorder(1);
	}
	.header-button {
		@include flexorder(2);
	}
	.header__btn {
		width: auto;
		padding: 10px 14px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
		span {
			position: absolute;
			background-color: #000000;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: -100%;
		overflow: auto;
		background-color: #FAFAFA;
		padding: 110px 30px 0;
		transition: all 0.3s ease 0s;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		flex-direction: column;
		align-items: center;
		li {
			margin: 0 0 20px 0;
		}
	}
	.header__link {
		font-size: 20px;
	}
}
@media (max-width: $md7+px) {
	.header-body {
		height: 70px;
		padding: 0 20px;
	}
	.header__menu {
		padding: 100px 20px 0;
	}
	.header__btn {
		padding: 10px;
	}
}

//===ОСНОВНОЙ БЛОК===//
.content {
	padding-top: 116px;
	@media (max-width: $md2+px) {
		padding-top: 70px;
	}
}

/*===MAIN===*/
.main {
	background-color: #F1F1F2;
}
.main-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-column {
	flex: 0 1 50%;

	&:last-child {
		height: 100%;
	}
}
.main-column-body {
	max-width: 400px;
	margin: 0 auto;
}
.main__title {
	font-weight: bold;
	font-size: 56px;
	line-height: 69px;
	margin-bottom: 36px;
}
.main__subtitle {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 52px;
}
.main-button {}
.main-button__btn {
	width: 200px;
	height: 60px;
	padding: 19px 0;
}
.main__image {
	max-width: 100%;
	width: 100%;
}

@media (max-width: $md1+px) {
	.main__title {
		font-size: 46px;
		line-height: 59px;
	}
}
@media (max-width: $md2+px) {
	.main {
		padding-top: 80px;
	}
	.main-body {
		flex-direction: column;
	}
	.main-column {
		flex: auto;
		
		&:first-child {
			padding: 0 30px;
			margin-bottom: 70px;
		}
		&:last-child {
			width: 100%;
			height: auto;
		}
	}
	.main__title,
	.main__subtitle {
		text-align: center;
		br {
			display: none;
		}
	}
	.main__title {
		font-size: 36px;
		line-height: 49px;
		margin-bottom: 20px;
	}
	.main__subtitle {
		margin-bottom: 30px;
	}
	.main-button {
		display: flex;
		justify-content: center;
	}
}
@media (max-width: $md7+px) {
	.main-column {
		&:first-child {
			padding: 0 20px;
			margin-bottom: 60px;
		}
	}
}

/*===WORK===*/
.work {
	background-color: #F1F1F2;
}
.work-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.work-column {
	flex: 0 1 50%;
	
	&:first-child {
		height: 100%;
	}
	&:last-child {
		padding: 0 30px;
	}
}
.work__image {
	max-width: 100%;
	width: 100%;
}
.work-column-body {
	max-width: 440px;
	margin: 0 auto;
}
.work__title {
	margin-bottom: 23px;
}
.title--h2 {
	font-size: 32px;
	line-height: 45px;
	@media (max-width: $md8+px) {
		font-size: 26px;
		line-height: 38px;
	}
}
.work__subtitle {
	font-size: 20px;
	line-height: 28px;
	text-align: justify;
	margin-bottom: 35px;
}
.work-button {}
.work-button__btn {
	width: 200px;
	height: 60px;
	padding: 19px 0;
}

@media (max-width: $md2+px) {
	.work {
		padding: 70px 0;
	}
	.work-column {
		&:first-child {
			display: none;
		}
		&:last-child {
			flex: 1;
		}
	}
	.work-column-body {
		max-width: none;
	}
	.work__title,
	.work__subtitle {
		text-align: center;
	}
	.work-button {
		display: flex;
		justify-content: center;
	}
}
@media (max-width: $md7+px) {
	.work-column {
		&:last-child {
			padding: 0 20px;
		}
	}
}

/*===GIFTS===*/
.gifts {
	padding: 96px 0 137px;
}
.gifts__title {
	text-align: center;
	margin-bottom: 23px;
}
.gifts__subtitle {
	line-height: 24px;
	text-align: center;
	margin-bottom: 64px;
}
.gifts-body {
	display: flex;
	justify-content: space-between;
	margin: 0px -15px;
}
.gifts-column {
	flex: 0 1 270px;
	margin: 0px 15px;
}
.gifts-item {
	&:hover {
		box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
		.gifts-item-bottom {
			background-color: #FFFFFF;
		}
	}
}
.gifts-item__image {
	max-width: 100%;
	margin-bottom: 24px;
}
.gifts-item-bottom {
	background-color: #FAFAFA;
	padding: 0 24px 24px;
}
.gifts-item__title {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 74px;
}
.gifts-item__link {
	a {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 19px;
		color: #000000;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width: $md2+px) {
	.gifts {
		padding: 70px 0;
	}
	.gifts-body {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -30px -30px;
	}
	.gifts-column {
		margin: 0 30px 30px;
	}
}
@media (max-width: $md4+px) {
	.gifts-item__title {
		margin-bottom: 20px;
	}
}
@media (max-width: $md6+px) {
	.gifts-body {
		margin: 0 0 -30px;
	}
	.gifts-column {
		margin: 0 0 30px;
	}
}

/*===START===*/
.start {
	background-color: #F7941E;
	padding: 81px 0 69px;
}
.start-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
}
.start-column {}
.start__title {
	font-weight: bold;
}
.start__subtitle {}
.start-column-buttons {
	display: flex;
}
.start-button {
	&:first-child {
		margin-right: 16px;
	}
}
.start__button {
	width: 200px;
	height: 48px;
	padding: 14px 0;
}
.btn--brown {
	color: #FFFFFF;
	background-color: #231F20;
	&:hover,
	&:active {
		color: #F7941E;
	}
}
.btn--brown-transparent {
	color: #000000;
	border: 1px solid #000000;
	&:hover,
	&:active {
		color: #F7941E;
		background-color: #231F20;
		border: 0;
	}
}

@media (max-width: $md1+px) {
	.start-body {
		padding: 0;
	}
}
@media (max-width: $md2+px) {
	.start {
		padding: 70px 0;
	}
	.start-body {
		flex-direction: column;
		align-items: center;
	}
	.start-column {
		&:first-child {
			margin-bottom: 30px;
		}
	}
	.start__title,
	.start__subtitle {
		text-align: center;
	}
}
@media (max-width: $md6+px) {
	.start-column-buttons {
		flex-direction: column;
	}
	.start-button {
		&:first-child {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}

/*===BLOG===*/
.blog {
	padding: 88px 0 80px;
}
.blog__title {
	text-align: center;
	margin-bottom: 23px;
}
.blog__subtitle {
	line-height: 24px;
	text-align: center;
	margin-bottom: 71px;
}
.blog-body {
	display: flex;
	align-items: center;
	background-color: #231F20;
	margin-bottom: 40px;
}
.blog-body-column {
	&:last-child {
		padding: 0 30px 0 78px;
	}
}
.blog-body__image {
	max-width: 100%;
}
.blog-body-column-item {
	max-width: 490px;
	margin: 0 auto;
}
.blog-body__subtitle {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 27px;
}
.blog-body__title {
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
	margin-bottom: 60px;
}
.blog-body-link {}
.blog-body__link {
	line-height: 25px;
	color: #FFFFFF;
	&:hover,
	&:active {
		text-decoration: underline;
	}
}
.blog-bottom {
	display: flex;
	justify-content: space-between;
}
.blog-bottom-column {
	flex: 0 1 570px;
	//border: 3px solid black;
	padding: 48px 48px 50px;
	&:hover {
		box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
	}
	&:first-child {
		margin-right: 30px;
	}
}
.blog-bottom-item {
	max-width: 474px;
	height: 100%;
	display: flex;
	flex-direction: column;
	//border: 3px solid red;
}
.blog-bottom__title {
	font-size: 24px;
	line-height: 34px;
	font-weight: bold;
	margin-bottom: 20px;
}
.blog-bottom__text {
	flex: 1;
	line-height: 25px;
	margin-bottom: 26px;
}
.blog-bottom-link {}
.blog-bottom__link {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	&:hover,
	&:active {
		text-decoration: underline;
	}
}

@media (max-width: $md1+px) {
	.blog-body-column {
		&:last-child {
			padding: 0 30px;
		}
	}
	.blog-bottom-column {
		padding: 30px;
	}
}
@media (max-width: $md2+px) {
	.blog {
		padding: 70px 0;
	}
	.blog-body-column-item {
		max-width: 400px;
	}
	.blog-body__title {
		font-size: 38px;
		line-height: 49px;
		margin-bottom: 30px;
	}
}
@media (max-width: $md3+px) {
	.blog-body-column {
		&:first-child {
			display: none;
		}
		&:last-child {
			padding: 30px;
		}
	}
}
@media (max-width: $md4+px) {
	.blog-bottom {
		flex-direction: column;
		align-items: center;
		//flex-wrap: wrap;
	}
	.blog-bottom-column {
		flex: auto;
		&:first-child {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}
@media (max-width: $md7+px) {
	.blog-body-column {
		&:last-child {
			padding: 20px;
		}
	}
	.blog-body__title {
		font-size: 32px;
		line-height: 45px;
		margin-bottom: 40px;
	}
	.blog-bottom-column {
		padding: 20px;
	}
}

/*===FOOTER===*/
.footer {
	background-color: #FAFAFA;
	padding: 106px 0 35px;
}
.footer-body {
	max-width: 1000px;
	margin: 0 auto;
}
.footer-body__top {
	margin-bottom: 43px;
}
.footer-menu {
	max-width: 610px;
	margin: 0 auto;
}
.footer__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	li {
		&:nth-child(3) {
			padding: 0 70px;
		}
	}
}
.footer__link {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	&:hover {
		color: #F7941E;
	}
}
.logo--yellow {
	color: #F7941E;
}
.footer__devider {
	border-top: 1px solid #000000;
	margin-bottom: 55px;
}
.footer-body__body {
	margin-bottom: 72px;
}
.footer-social {}
.footer-social__list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -12.8px;
	li {
		margin: 0 12.8px;
	}
}
.footer-social__link {}
.footer-body__bottom {}
.footer-copyright__text, .footer-copyright__link {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}
.footer-copyright__link {
	&:hover {
		text-decoration: underline;
	}
}

@media (max-width: $md1+px) {
	.footer__list {
		li {
			&:nth-child(3) {
				padding: 0;
			}
		}
	}
}
@media (max-width: $md7+px) {
	.footer {
		padding: 30px 0;
	}
	.footer-body__top,
	.footer__devider,
	.footer-body__body {
		margin-bottom: 30px;
	}
	.footer__list {
		li {
			&:nth-child(3) {
				display: none;
			}
		}
	}
}
@media (max-width: $md8+px) {
	.footer__list {
		display: block;
		li {
			margin-bottom: 20px;
			&:nth-child(3) {
				display: none;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.footer-social__list {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: -20px;
		li {
			margin-bottom: 20px;
		}
	}
}