//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "nullstyle.scss";
//====================================================
//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
/*font-family: 'Homemade Apple', cursive;*/
@import url('../fonts/Gilroy-Regular/stylesheet.css');
/*font-family: 'Gilroy';*/
@import url('../fonts/Gilroy-Medium/stylesheet.css');
/*font-family: 'Gilroy Medium';*/
@import url('../fonts/Gilroy-Bold/stylesheet.css');
/*font-family: 'Gilroy Bold';*/
//====================================================
//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1170;//изменить в соответствии с макетом!
$md1: 1200;
$md2: 992;
$md3: 780;
$md4: 768;
$md5: 575;
$md6: 479;
$md7: 425;
$md8: 375;

//<ЦВЕТА>
$main: #000000;
$secondary: #231F20;
$accent: #F7941E;
$light: #FFFFFF;
//====================================================
//<МИКСИНЫ>
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($fz) {-webkit-order: $fz;-moz-order: $fz;order: $fz;}
//====================================================
//<ОСНОВНАЯ СЕТКА>
body {
	font-family: 'Gilroy Medium';
	font-size: 18px;
	background-color: #fff;
	color: $main;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	max-width: $maxw+px;
	width: 100%;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 950px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0px 30px;
	}
	@media (max-width: $md7+px) {
		max-width: none;
		padding: 0px 20px;
	}
}
.logo {
	font-family: 'Homemade Apple', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 39px;
	color: $secondary;
}
.logo--yellow {
	color: $accent;
}
.btn {
	display: block;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	
	&--y {
		background-color: $accent;
		color: $light;
		&:hover,
		&:active {
			background-color: transparent;
			color: $accent;
			border: 1px solid $accent;
		} 
	}

	&--transparent {
		color: $accent;
		border: 1px solid $accent;
		&:hover,
		&:active {
			background-color: $accent;
			color: $light;
		}
	}
}
.btn--brown {
	color: $light;
	background-color: $secondary;
	&:hover,
	&:active {
		color: $accent;
	}
}
.btn--brown-transparent {
	color: $main;
	border: 1px solid $main;
	&:hover,
	&:active {
		color: $accent;
		background-color: $secondary;
		border: 0;
	}
}
.title--h2 {
	font-size: 32px;
	line-height: 45px;
	@media (max-width: $md8+px) {
		font-size: 26px;
		line-height: 38px;
	}
}

/*===HEADER===*/
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FAFAFA;

	&-body {
		height: 116px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 34px 0 80px;
	}
	&__logo {
		overflow: hidden;
	}

	&__burger {
		display: none;
	}
	&__list {
		display: flex;
		li {
			margin-left: 31px;
		}
	}
	&__link {
		color: $main;
		line-height: 22px;
		&:hover {
			color: $accent;
		}
	}
	&__btn {
		width: 150px;
		height: 43.5px;
		padding: 10px 0;
	}
	@media (max-width: $md2+px) {
		&-body {
			height: 70px;
			padding: 0 30px;
		}
	}
}

/*===MOBILE MENU===*/
@media (max-width: $md3+px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		&__logo {
			@include flexorder(1);
		}
		&-button {
			@include flexorder(2);
		}
		&__btn {
			width: auto;
			padding: 10px 14px;
		}
		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			span {
				position: absolute;
				background-color: $main;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
		}
		&__burger:before,
		&__burger:after {
			content: '';
			background-color: $main;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&__burger:before {
			top: 0;
		}
		&__burger:after {
			bottom: 0;
		}
		&__burger.active span {
			transform: scale(0);
		}
		&__burger.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&__burger.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&__menu {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: -100%;
			overflow: auto;
			background-color: #FAFAFA;
			padding: 110px 30px 0;
			transition: all 0.3s ease 0s;
		}
		&__menu.active {
			top: 0;
		}
		&__list {
			flex-direction: column;
			align-items: center;
			li {
				margin: 0 0 20px 0;
			}
		}
		&__link {
			font-size: 20px;
		}
	}
}
@media (max-width: $md7+px) {
	.header {
		&-body {
			height: 70px;
			padding: 0 20px;
		}
		&__menu {
			padding: 100px 20px 0;
		}
		&__btn {
			padding: 10px;
		}
	}
}

//===ОСНОВНОЙ БЛОК===//
.content {
	padding-top: 116px;
	@media (max-width: $md2+px) {
		padding-top: 70px;
	}
}

/*===MAIN===*/
.main {
	background-color: #F1F1F2;

	&-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-column {
		flex: 0 1 50%;
		&:last-child {
			height: 100%;
		}
		&-body {
			max-width: 400px;
			margin: 0 auto;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 56px;
		line-height: 69px;
		margin-bottom: 36px;
	}
	&__subtitle {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 52px;
	}
	&-button__btn {
		width: 200px;
		height: 60px;
		padding: 19px 0;
	}
	&__image {
		max-width: 100%;
		width: 100%;
	}
	@media (max-width: $md1+px) {
		&__title {
			font-size: 46px;
			line-height: 59px;
		}
	}
	@media (max-width: $md2+px) {
		padding-top: 80px;

		&-body {
			flex-direction: column;
		}
		&-column {
			flex: auto;
			
			&:first-child {
				padding: 0 30px;
				margin-bottom: 70px;
			}
			&:last-child {
				width: 100%;
				height: auto;
			}
		}
		&__title,
		&__subtitle {
			text-align: center;
			br {
				display: none;
			}
		}
		&__title {
			font-size: 36px;
			line-height: 49px;
			margin-bottom: 20px;
		}
		&__subtitle {
			margin-bottom: 30px;
		}
		&-button {
			display: flex;
			justify-content: center;
		}
	}
	@media (max-width: $md7+px) {
		&-column {
			&:first-child {
				padding: 0 20px;
				margin-bottom: 60px;
			}
		}
	}
}

/*===WORK===*/
.work {
	background-color: #F1F1F2;

	&-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-column {
		flex: 0 1 50%;
		&:first-child {
			height: 100%;
		}
		&:last-child {
			padding: 0 30px;
		}
		&-body {
			max-width: 440px;
			margin: 0 auto;
		}
	}
	&__image {
		max-width: 100%;
		width: 100%;
	}

	&__title {
		margin-bottom: 23px;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 28px;
		text-align: justify;
		margin-bottom: 35px;
	}
	&-button__btn {
		width: 200px;
		height: 60px;
		padding: 19px 0;
	}
	@media (max-width: $md2+px) {
		padding: 70px 0;

		&-column {
			&:first-child {
				display: none;
			}
			&:last-child {
				flex: 1;
			}
			&-body {
				max-width: none;
			}
		}
		&__title,
		&__subtitle {
			text-align: center;
		}
		&-button {
			display: flex;
			justify-content: center;
		}
	}
	@media (max-width: $md7+px) {
		&-column {
			&:last-child {
				padding: 0 20px;
			}
		}
	}
}

/*===GIFTS===*/
.gifts {
	padding: 96px 0 137px;

	&__title {
		text-align: center;
		margin-bottom: 23px;
	}
	&__subtitle {
		line-height: 24px;
		text-align: center;
		margin-bottom: 64px;
	}
	&-body {
		display: flex;
		justify-content: space-between;
		margin: 0px -15px;
	}
	&-column {
		flex: 0 1 270px;
		margin: 0px 15px;
	}
	&-item {
		background-color: #FAFAFA;
		&:hover {
			background-color: #FFFFFF;
			box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
		}
		&__image {
			max-width: 100%;
			margin-bottom: 24px;
		}
		&-bottom {
			padding: 0 24px 24px;
		}
		&__title {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 74px;
		}
		&__link {
			a {
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 19px;
				color: $main;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	@media (max-width: $md2+px) {
		padding: 70px 0;

		&-body {
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 -30px -30px;
		}
		&-column {
			margin: 0 30px 30px;
		}
	}
	@media (max-width: $md4+px) {
		&-item__title {
			margin-bottom: 20px;
		}
	}
	@media (max-width: $md6+px) {
		&-body {
			margin: 0 0 -30px;
		}
		&-column {
			margin: 0 0 30px;
		}
	}
	@media (max-width: $md7+px) {
		&__subtitle {
			margin-bottom: 40px;
		}
	}
}

/*===START===*/
.start {
	background-color: $accent;
	padding: 81px 0 69px;

	&-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 100px;
	}
	&__title {
		font-weight: bold;
	}
	&-column-buttons {
		display: flex;
	}
	&-button {
		&:first-child {
			margin-right: 16px;
		}
	}
	&__button {
		width: 200px;
		height: 48px;
		padding: 14px 0;
	}
	@media (max-width: $md1+px) {
		&-body {
			padding: 0;
		}
	}
	@media (max-width: $md2+px) {
		padding: 70px 0;

		&-body {
			flex-direction: column;
			align-items: center;
		}
		&-column {
			&:first-child {
				margin-bottom: 30px;
			}
		}
		&__title,
		&__subtitle {
			text-align: center;
		}
	}
	@media (max-width: $md6+px) {
		&-column-buttons {
			flex-direction: column;
		}
		&-button {
			&:first-child {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}
}

/*===BLOG===*/
.blog {
	padding: 88px 0 80px;

	&__title {
		text-align: center;
		margin-bottom: 23px;
	}
	&__subtitle {
		line-height: 24px;
		text-align: center;
		margin-bottom: 71px;
	}
	&-body {
		display: flex;
		align-items: center;
		background-color: $secondary;
		margin-bottom: 40px;

		&-column {
			&:last-child {
				padding: 0 30px 0 78px;
			}
		}
		&__image {
			max-width: 100%;
		}
		&-column-item {
			max-width: 490px;
			margin: 0 auto;
		}
		&__subtitle {
			font-size: 14px;
			line-height: 20px;
			color: $light;
			margin-bottom: 27px;
		}
		&__title {
			font-size: 48px;
			line-height: 58px;
			color: $light;
			margin-bottom: 60px;
		}
		&__link {
			line-height: 25px;
			color: $light;
			&:hover,
			&:active {
				text-decoration: underline;
			}
		}
	}
	&-bottom {
		display: flex;
		justify-content: space-between;

		&-column {
			flex: 0 1 570px;
			//border: 3px solid black;
			padding: 48px 48px 50px;
			&:hover {
				box-shadow: 10px 10px 15px rgba(0, 0, 0, .05);
			}
			&:first-child {
				margin-right: 30px;
			}
		}
		&-item {
			max-width: 474px;
			height: 100%;
			display: flex;
			flex-direction: column;
			//border: 3px solid red;
		}
		&__title {
			font-size: 24px;
			line-height: 34px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		&__text {
			flex: 1;
			line-height: 25px;
			margin-bottom: 26px;
		}
		&__link {
			font-size: 14px;
			line-height: 20px;
			color: $main;
			&:hover,
			&:active {
				text-decoration: underline;
			}
		}
	}
	@media (max-width: $md1+px) {
		&-body-column {
			&:last-child {
				padding: 0 30px;
			}
		}
		&-bottom-column {
			padding: 30px;
		}
	}
	@media (max-width: $md2+px) {
		padding: 70px 0;

		&-body-column-item {
			max-width: 400px;
		}
		&-body__title {
			font-size: 38px;
			line-height: 49px;
			margin-bottom: 30px;
		}
	}
	@media (max-width: $md3+px) {
		&-body-column {
			&:first-child {
				display: none;
			}
			&:last-child {
				padding: 30px;
			}
		}
	}
	@media (max-width: $md4+px) {
		&-bottom {
			flex-direction: column;
			align-items: center;

			&-column {
				flex: auto;
				&:first-child {
					margin-right: 0;
					margin-bottom: 30px;
				}
			}
		}	
	}
	@media (max-width: $md7+px) {
		&__subtitle {
			margin-bottom: 40px;
		}
		&-body-column {
			&:last-child {
				padding: 20px;
			}
		}
		&-body__title {
			font-size: 32px;
			line-height: 45px;
			margin-bottom: 40px;
		}
		&-bottom-column {
			padding: 20px;
		}
	}
}

/*===FOOTER===*/
.footer {
	background-color: #FAFAFA;
	padding: 106px 0 35px;

	&-body {
		max-width: 1000px;
		margin: 0 auto;
		&__top {
			margin-bottom: 43px;
		}
		&__body {
			margin-bottom: 72px;
		}
	}
	&-menu {
		max-width: 610px;
		margin: 0 auto;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			&:nth-child(3) {
				padding: 0 70px;
			}
		}
	}
	&__link {
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		color: $main;
		&:hover {
			color: $accent;
		}
	}
	&__devider {
		border-top: 1px solid $main;
		margin-bottom: 55px;
	}
	&-social__list {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -12.8px;
		li {
			margin: 0 12.8px;
		}
	}
	&-copyright__text, &-copyright__link {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: $main;
	}
	&-copyright__link {
		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: $md1+px) {
		&__list {
			li {
				&:nth-child(3) {
					padding: 0;
				}
			}
		}
	}
	@media (max-width: $md7+px) {
		padding: 30px 0;

		&-body__top,
		&__devider,
		&-body__body {
			margin-bottom: 30px;
		}
		&__list {
			li {
				&:nth-child(3) {
					display: none;
				}
			}
		}
	}
	@media (max-width: $md8+px) {
		&__list {
			display: block;
			li {
				margin-bottom: 20px;
				&:nth-child(3) {
					display: none;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-social__list {
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-bottom: -20px;
			li {
				margin-bottom: 20px;
			}
		}
	}
}